<p>Testing infrastructure working!</p>
<h1>Battle!</h1>
<form action="/names" method="post">
  <div>
    <label for="player1">Player 1 name:</label>
    <input type="text" id="player1" name="player1">
  </div>
  <div>
    <label for="player2">Player 2 name:</label>
    <input type="text" id="player2" name="player2">
  </div>
  <div class="button">
    <button type="submit" value="submit">Ready to battle?</button>
  </div>
 </form>